@model PlagChecker.Student

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Student_Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Student_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Student_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Roll_Number, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Roll_Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Roll_Number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", style = "height:15rem" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>
}

@using (Html.BeginForm("Process", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Process Batch" class="btn btn-primary" />
        </div>
    </div>
}
@if (ViewBag.ComparisonResults != null)
{
    <div style="padding: 10px;">
        <strong>Comparison Results:</strong>
        <table border="1" style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    <th>Student Roll No</th>
                    <th>Plagiarism Roll No</th>
                    <th>Plagiarism Percentage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in ViewBag.ComparisonResults)
                {
                    <tr style="@(obj.PlagPercentage >= 80 ? "background-color:red;" : "")">
                        <td>@obj.Studen_RollNo</td>
                        <td>@obj.Plag_RollNo</td>
                        <td>@obj.PlagPercentage %</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
